@model IEnumerable<ProyectoWeb.Models.TipoDocumento>
@{
    ViewData["Title"] = "Mostrar";
}

<h1 style="text-align:center">TIPO DE DOCUMENTO</h1>
<p>
    <a asp-action="Registrar" class="btn btn-success">Crear Nuevo</a>

</p>
<table class="table">
    <thead class=" table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoDocumento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new {id=item.idTipoDocumento }, new {@class = "btn btn-primary"})
                    @Html.ActionLink("Eliminar", "Eliminar", new {id=item.idTipoDocumento }, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>











